<footer class="py-5 px-2 bg-secondary text-light">
    <nav class="d-flex align-items-baseline flex-wrap justify-content-around w-75 mx-auto">
        <a class="h2 m-0 text-light" href="/results/">Duosmium Results</a>
        <ul class="d-flex flex-wrap justify-content-center list-unstyled m-0 typography-title font-weight-normal">
            <li class="mx-3">
                <a class="text-light" href="https://blog.duosmium.org/">Blog</a>
            </li>
            <li class="mx-3">
                <a class="text-light" href="/input-template">Input Template</a>
            </li>
            <li class="mx-3">
                <a class="text-light" href="/preview/">SciolyFF Previewer</a>
            </li>
            <li class="mx-3">
                <a class="text-light" href="/results/schools/">Schools List</a>
            </li>
        </ul>
    </nav>
</footer>