{% extends "base.njk" %}
{% block head %}
    <link href="/main.css" rel="stylesheet"/>
{% endblock %}
{% block script %}
    {% if custom_colors %}
        <style type="text/css">
            .results-classic-thead-background {
                background-color: {{helpers.findBgColor(filename) | await}}!important;
            }
            .btn,
            .custom-control-label::after {
                color: {{helpers.findBgColor(filename) | await}}!important;
            }
            {{helpers.trophyAndMedalCss() | safe}}
        </style>
    {% endif %}
    <script src="/main.js"></script>
{% endblock %}