.bundle
.cache
.DS_Store
.sass-cache
.netlify
deno.lock
_site/
node_modules/
.tmp/
ztestscript*
.idea
vendor
.devcontainer
serverless/dynamicpost/**
!serverless/dynamicpost/index.js
serverless/odb/**
!serverless/odb/index.js
serverless/screenshot/**
!serverless/screenshot/index.js