html {
  // disable double-tap to zoom
  touch-action: manipulation;
}

a[data-toggle="popover"] {
  // make popovers look clickable
  cursor: pointer;
}

.announcement {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 20px;
  text-align: center;
  background-color: #ffd54f;
  color: #424242;
  z-index: 50;
}
.close-announcement {
  width: 20%;
  text-align: right;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 1.5rem;
  line-height: 0.75;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

/* April Fools beta mode overrides */
* {
  border-radius: 0 !important;
}

html,
body,
button,
input,
select,
textarea {
  font-family: "Times New Roman", Times, serif !important;
}

.bg-primary,
.btn-primary,
.btn.btn-primary,
.results-index.bg-primary,
.jumbotron.bg-primary {
  background-color: #2a2543 !important;
}

.text-primary,
a.text-primary,
.btn-primary,
.btn.btn-primary {
  color: #e5e2ee !important;
}

main,
#all.container-fluid,
main.container,
main.container-fluid,
main.schools-index.container,
main.nationals-page.container {
  filter: grayscale(20%);
}
