---
permalink:
    dynamicpost: "/preview/csv/"
---
{%
  if eleventy.serverless.query.rep
%}{% set i =
  interpreter.fromRepStr(
    eleventy.serverless.query.rep,
    false
  )
%}{%
  elif eleventy.serverless.query.from
%}{% set i =
  interpreter.fromRepStr(
    (interpreter.fetchRepFromURL(eleventy.serverless.query.from) | await),
    false
  )
%}{% endif %}{{ interpreter.toCsv(i) | safe }}