---
title: SciolyFF Previewer | Duosmium Results
description: Verify and preview the Sciolyff file format.

layout: base.njk
---

<style>
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  body,
  html {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
      Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  div#subway {
    height: 100%;
  }
  main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  div#editor {
    width: 50%;
    max-width: 45em;
    display: flex;
    flex-direction: column;
  }
  div#topbar {
    color: #f5f5f5;
    background-color: #1f1b35;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 20px;
  }
  h1 {
    margin: 4px 0;
    margin-right: 3rem;
    padding: 0;
    padding-left: 6px;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 500;
  }

  textarea {
    flex-grow: 1;
    width: 100%;
    margin: 0;
    border: none;
    resize: none;
    padding: 1em;
    font-family: monospace;
    font-size: 16px;
    background-color: #f5f5f5;
  }
  iframe {
    border: none;
    flex-grow: 1;
  }
  div#toggle {
    display: none;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  span {
    margin: 0 6px;
  }
  span.selected {
    text-decoration: underline;
    font-weight: bold;
  }
  @media (max-width: 640px) {
    div#subway {
      width: 100vw;
      overflow: hidden;
    }
    main {
      width: 200vw;
      height: calc(100% - 4em);
    }
    div#toggle {
      background-color: #ddd;
      display: block;
      height: 4em;
      position: fixed;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    div#toggle > span {
      margin: 1em;
    }
  }
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 34px;
    background: #2dd4bf;
    display: block;
    border-radius: 34px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50%;
    transition: 0.4s;
  }

  input:checked + label {
    background: #22d3ee;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
</style>
<div id="subway">
  <main>
    <div id="editor">
      <div id="topbar">
        <h1>SciolyFF Preview</h1>
        <div class="flex">
          <span id="preview-label" class="selected">Preview</span>
          <input type="checkbox" id="select-render" autocomplete="off" />
          <label for="select-render">Output content switch</label>
          <span id="validate-label">Validate</span>
        </div>
      </div>
      <textarea id="input-text">
Tournament:
  level: Nationals
  location: Zoom University
  division: C
  year: 2020
  date: 2020-04-01

Events:
- name: Disease Detectives
- name: Dynamic Planet

Teams:
- school: The Best Around
  number: 1
  state: AK
- school: The Greatest Around
  number: 2
  state: HI

Placings:
- event: Disease Detectives
  team: 1
  raw:
    score: -1.0
    tier: 2
- event: Disease Detectives
  team: 2
  raw:
    score: -10.0
- event: Dynamic Planet
  team: 1
  raw:
    score: 100.0
- event: Dynamic Planet
  team: 2
  participated: false
</textarea
      >
    </div>
    <iframe id="preview-output" title="Results output preview"></iframe>
  </main>
  <div id="toggle">
    <span id="input-label" class="selected">Input</span>
    <input type="checkbox" id="switch" autocomplete="off" />
    <label for="switch">Preview toggle</label>
    <span id="output-label">Output</span>
  </div>
</div>
<script>
  (() => {
    const qs = (selector) => document.querySelector(selector);

    const setIframe = (content = undefined, superscore = false) => {
      if (!content) {
        content = qs("#input-text").value;
      }
      let validate = qs("#select-render").checked;
      let url = validate ? "/preview/validate/" : "/preview/render/";
      fetch(url, {
        method: "POST",
        body: JSON.stringify({ rep: content, superscore }),
      })
        .then((res) => res.text())
        .then((text) => {
          qs("#preview-output").srcdoc = validate ? `<pre>${text}</pre>` : text;
          qs("#preview-output").contentWindow.addEventListener(
            "beforeunload",
            (event) => {
              setTimeout(() => {
                if (event.target.location.pathname.includes("/superscore/")) {
                  setIframe(undefined, true);
                } else {
                  setIframe();
                }
              }, 0);
            }
          );
        });
    };
    setIframe();

    let timeout;
    const debounceEditor = (e) => {
      clearTimeout(timeout);
      timeout = setTimeout(() => {
        setIframe(e.target.value);
      }, 500);
    };
    qs("#input-text").addEventListener("input", debounceEditor);

    qs("#switch").addEventListener("input", (e) => {
      if (e.target.checked) {
        qs("#output-label").classList.add("selected");
        qs("#input-label").classList.remove("selected");
        qs("#subway").scrollLeft = 1000;
      } else {
        qs("#output-label").classList.remove("selected");
        qs("#input-label").classList.add("selected");
        qs("#subway").scrollLeft = 0;
      }
    });

    let timeout2;
    const debounceOutputSelect = (e) => {
      clearTimeout(timeout2);
      timeout2 = setTimeout(() => {
        setIframe();
      }, 500);
    };
    qs("#select-render").addEventListener("input", (e) => {
      debounceOutputSelect();
      if (e.target.checked) {
        qs("#validate-label").classList.add("selected");
        qs("#preview-label").classList.remove("selected");
      } else {
        qs("#validate-label").classList.remove("selected");
        qs("#preview-label").classList.add("selected");
      }
    });
  })();
</script>
