---
permalink:
    dynamicpost: "/preview/meta/"
---
{% if eleventy.severless.query.rep %}
  {% set rep = eleventy.severless.query.rep %}
{% elif eleventy.serverless.query.from %}
  {% set rep = (interpreter.fetchRepFromURL(eleventy.serverless.query.from) | await) %}
{% endif %}
{% set i = interpreter.fromRepStr(rep) %}
{
  "name" : "{{ helpers.generateFilename(i) }}"
}