---
custom_colors: true
permalink:
    dynamicpost: "/preview/render/"
---

{% set filename = "preview" %}
{% set i = interpreter.fromRepStr(eleventy.serverless.query.rep, eleventy.serverless.query.superscore) %}

{% extends "template.njk" %}