---
title: 404 Not Found
permalink:
  build: 404.html
  odb: 404.html
layout: layout.njk
---
<main class="container d-flex flex-column justify-content-center text-center" style="height: 100vh;">
    <p class="typography-display-1 mb-4">Sorry, the requested page was not found.</p>
    <div class="d-flex justify-content-center">
        <button onclick="window.history.back();" type="button" class="btn btn-secondary mr-3">Go Back</button>
        <a class="btn btn-primary" href="/">Go Home</a>
    </div>
</main>