---
title: 404 Not Found
permalink: 404.html
layout: layout.njk
---
<main class="container">
    <div class="row align-items-center" style="height: 80vh">
        <div class="col">
            <p class="typography-display-1">Sorry, the requested page was not found.</p>
            <button onclick="window.history.back();" type="button" class="btn btn-primary">Go Back</button>
        </div>
    </div>
</main>