---
title: Donate | Duosmium Results
description: Donate to Duosmium Results!
layout: layout.njk
permalink: "/donate/"
---
<style>
    main {
        max-width: 720px;
        margin-bottom: 96px;
        font-size: 1.25rem;
        min-height: 100vh;
    }
    main div {
        display: flex;
        justify-content: center;
    }
</style>
<header class="jumbotron jumbotron-fluid bg-primary mb-5">
    <div class="container">
        <h1 class="text-light text-center">Donate</h1>
    </div>
</header>

<main class="container">
    <h2>Buy us a coffee!</h2>
    <p>
        Our site is just run by college-student volunteers—yet over 150,000 users use our page.
        If you're able to, we'd love for you to chip in to keep the website running.
        If you're a Science Olympiad organization that would like to chip in as well,
        you can reach us at <a href="mailto:admin@duosmium.org">admin@duosmium.org</a>.
        <br></br>
        Thank you!
    </p>
    <div>
        <stripe-buy-button
        buy-button-id="buy_btn_1RH92lLWg3HVK1dJj19VyL6T"
        publishable-key="pk_live_51JwF7lLWg3HVK1dJrjdRtjVrIBXfPfrFsVMQNvqvJUKfwqmTS0JCWNWY9ZBlYRXO4mT1DaKfpoN7Lqp3IwIVyehY004mEUsQPo"
    ></stripe-buy-button>
    </div>
</main>

<script async src="https://js.stripe.com/v3/buy-button.js"></script>
{% include '_footer.njk' %}